In [1]:
import sqlite3
conn = sqlite3.connect("meu_banco.db")
cursor = conn.cursor()

In [2]:
#Criando uma tabela no sqlite
cursor.execute("""CREATE TABLE usuario
               (nome text, 
                email text,
                senha text                
                   )""")

OperationalError: table usuario already exists

In [3]:
#CRUD->Create, inserindo informações
cursor.execute("INSERT INTO usuario(nome, email, senha) VALUES ('Carlos','carlos@calos','1234')")
conn.commit()

In [5]:
#CRUD->Create, inserindo informações
users = [('Carlos','carlos@calos','1234'),
         ('Leticia','leticia@calos','1234'),
         ('Jose','jose@calos','134')]

cursor.executemany("INSERT INTO usuario(nome, email, senha) VALUES (?,?,?)",users)
conn.commit()

In [8]:
#CRUD->UPDATE, Alteração de informações
cursor.execute("""UPDATE usuario
               SET nome = 'Fernando',
                   email = 'fernando@fenando'
               WHERE nome = 'Carlos'    
               """)
conn.commit()

In [10]:
#CRUD->DELETE, Exclui informações
cursor.execute("""DELETE FROM usuario
                  WHERE nome = 'Fernando'    
               """)
conn.commit()

In [6]:
#CRUD->Read, Lendo as informações
cursor.execute("SELECT * FROM usuario")
for i in cursor.fetchall():
    print(f'O dados gravaos do usuario são {i}')

O dados gravaos do usuario são ('Leticia', 'leticia@calos', '1234')
O dados gravaos do usuario são ('Jose', 'jose@calos', '134')
O dados gravaos do usuario são ('Carlos', 'carlos@calos', '1234')
O dados gravaos do usuario são ('Carlos', 'carlos@calos', '1234')
O dados gravaos do usuario são ('Leticia', 'leticia@calos', '1234')
O dados gravaos do usuario são ('Jose', 'jose@calos', '134')

In [ ]:
usuario = input("Digite o nome de usuário: ")
senha = input("Digite a senha: ")
cursor.execute("SELECT * FROM usuario WHERE nome = ? AND senha = ?", (usuario, senha))
    
if cursor.fetchone():
    print("Entra no sistema")
    break
else:
    print("Usuário ou senha incorretos. Tente novamente.")

In [ ]:
while True:
    usuario = input("Digite o nome de usuário: ")
    senha = input("Digite a senha: ")
    cursor.execute("SELECT * FROM usuario WHERE nome = ? AND senha = ?", (usuario, senha))
    
    if cursor.fetchone():
        print("Entra no sistema")
        break
    else:
        print("Usuário ou senha incorretos. Tente novamente.")